.card-pai {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.cards {
    background-color: rgb(234, 222, 222);
    border-radius: 15px;

    width: 250px;
    height: 250px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    align-items: center;

    cursor: pointer;

}

.cards img {
    width: 100px;

    margin-top: 28px;
}

.cards p {
    font-family: 'Square Peg', cursive;
    font-size: 36px;
    font-weight: bold;
}

.cards:hover {
    background-color: #FECFCA;

}